.container{
    border: 5px solid blue;
    height: 700px;
    width: 700px;
    border-radius: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.box{
    border: 3px solid red;
    height:300px;
    width: 400px;
    text-align: center;
   margin: auto;
    padding-top: 42px;

    
}
img{
    border-radius: 50%;
}
