#box1{
    border:2px solid black;
    height: 500px;
    width: 300px;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 80px;
    padding-right: 50px;
    background-color: rgb(23, 22, 22);

}
#box2{
    border: 2px solid black;
    border-radius: 20px;
    height: 500px;
    width: 250px;
    text-align: center;
    padding-top: 10%;
    padding-left: 24px;
    padding-right:24px;
    background-color:rgb(43, 43, 43);


}
img{
    border-radius: 50%;
}

.buttons a{
    display: block;
    text-decoration: none;
    background-color: rgb(90, 87, 87);
    color: white;
    padding: 5px;
      margin: 10px 0;

    border-radius: 8px;

}
.buttons a:hover {
    background-color: violet;
    color: black;
}
.location{
    color:yellow;
}